<ion-header>
  <ion-navbar>
    <ion-title>Add New Address</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <form [formGroup]="addressForm">
      <ion-item>
        <ion-label>{{ 'FIRST_NAME' | translate }}</ion-label>
        <ion-input formControlName="firstname" type="text"></ion-input>
      </ion-item>
      <div class="error-messages">
        <ng-container *ngFor="let error of error_messages.firstname">
          <div class="error-message"
            *ngIf="addressForm.get('firstname').hasError(error.type) && (addressForm.get('firstname').dirty || addressForm.get('firstname').touched)">
            {{ error.message }}
          </div>
        </ng-container>
      </div>

      <ion-item>
        <ion-label>{{ 'LAST_NAME' | translate }}</ion-label>
        <ion-input formControlName="lastname" type="text"></ion-input>
      </ion-item>
      <div class="error-messages">
        <ng-container *ngFor="let error of error_messages.lastname">
          <div class="error-message"
            *ngIf="addressForm.get('lastname').hasError(error.type) && (addressForm.get('lastname').dirty || addressForm.get('lastname').touched)">
            {{ error.message }}
          </div>
        </ng-container>
      </div>

      <ion-item>
        <ion-label>{{ 'CITY' | translate }}</ion-label>
        <ion-input formControlName="city" type="text"></ion-input>
      </ion-item>
      <div class="error-messages">
        <ng-container *ngFor="let error of error_messages.city">
          <div class="error-message"
            *ngIf="addressForm.get('city').hasError(error.type) && (addressForm.get('city').dirty || addressForm.get('city').touched)">
            {{ error.message }}
          </div>
        </ng-container>
      </div>

      <ion-item>
        <ion-label>{{ 'ADDRESS_LINE_1' | translate }}</ion-label>
        <ion-textarea formControlName="address1" type="text" maxlength="80"></ion-textarea>
      </ion-item>
      <div class="error-messages">
        <ng-container *ngFor="let error of error_messages.address1">
          <div class="error-message"
            *ngIf="addressForm.get('address1').hasError(error.type) && (addressForm.get('address1').dirty || addressForm.get('address1').touched)">
            {{ error.message }}
          </div>
        </ng-container>
      </div>

      <ion-item>
        <ion-label>{{ 'ADDRESS_LINE_2' | translate }}</ion-label>
        <ion-textarea formControlName="address2" type="text" maxlength="80"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label>{{ 'POSTAL_CODE' | translate }}</ion-label>
        <ion-input formControlName="postalcode" type="number" clearInput></ion-input>
      </ion-item>
      <div class="error-messages">
        <ng-container *ngFor="let error of error_messages.postalcode">
          <div class="error-message"
            *ngIf="addressForm.get('postalcode').hasError(error.type) && (addressForm.get('postalcode').dirty || addressForm.get('postalcode').touched)">
            {{ error.message }}
          </div>
        </ng-container>
      </div>
    </form>
  </ion-list>
  <button class="add_address" ion-button color="primary" (click)="addAddress()">{{ 'SAVE' | translate }}</button>
</ion-content>
