page-myaddress {
    .error-message {
        color: red;
        margin-left: 15px;
        font-size: 12px;
    }

    .dark .ion-label{
        color: white;
    }

    button.add_address{
        margin-left: 40%;
    }
    .add_address{
        text-transform: none;
    }
}
