<ion-header>
  <ion-navbar class="my_nav" style="padding: 3pt" color="favorite">
  </ion-navbar>
</ion-header>


<ion-content>
  <div class="container">
    <div class="title_menu">
      <h1>Change Password?</h1>
    </div>
  </div>
  <form [formGroup]="changeForm" padding>
    <ion-list>
      <ion-item>
        <ion-label class="text-grey" style="font-size: 1.2rem" floating>New Password</ion-label>
        <ion-input formControlName="password" class="text-grey emailicon" type="password" name="password"></ion-input>
      </ion-item>
      <div class="error-messages">
        <ng-container *ngFor="let error of error_messages.password">
          <div class="error-message"
            *ngIf="changeForm.get('password').hasError(error.type) && (changeForm.get('password').dirty || changeForm.get('password').touched)">
            {{ error.message }}
          </div>
        </ng-container>
      </div>
      <ion-item>
        <ion-label class="text-grey" style="font-size: 1.2rem" floating>Re-enter Password</ion-label>
        <ion-input formControlName="confirmpassword" class="text-grey emailicon" type="password"
          name="confirm_password"></ion-input>
      </ion-item>

      <div class="error-messages">
        <ng-container *ngFor="let error of error_messages.confirmpassword">
          <div class="error-message"
            *ngIf="changeForm.get('confirmpassword').hasError(error.type) && (changeForm.get('confirmpassword').dirty || changeForm.get('confirmpassword').touched)">
            {{ error.message }}
          </div>
        </ng-container>
      </div>
      <div class="error-message"
        *ngIf="changeForm.get('confirmpassword').hasError('equalTo') && changeForm.get('confirmpassword').dirty || changeForm.get('confirmpassword').hasError('equalTo') && changeForm.get('confirmpassword').touched">
        Password Mismatch
      </div>
    
      <div padding>
        <button class="signup-btn" ion-button block (click)="changePassword()" [disabled]="changeForm.invalid">submit</button>
      </div>
    </ion-list>
  </form>
</ion-content>