page-order-cancel {
  .cancel-your-order{
    font-size: 2.4rem;
    font-weight: bold;
    margin: 21pt 15pt;
  }
  .cart-item-img{
    width: 70pt;
    height: 70pt;
    object-fit: contain;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    margin-right: 15pt;
  }
  .price-cut{text-decoration: line-through;color: #bdbdbd;font-size: 1.3rem;margin-left: 10px;}
  .frame-text1{
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: 5px;
  }
  .frame-text2{
    font-size: 1.5rem;
    font-weight: 500;
    padding: 5px 0px;
  }
  .bottom_textarea{
    margin: 10pt 35pt 35pt 35pt;
  }
  .inner_textarea.input {
    background-color: #f4f4f4;
    height: 170px;
    border-radius: 12px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  }
  .cancel-order-btn{
    margin-bottom: 45pt;
    border-radius: 5px;
    padding: 16pt;
    font-size: 1.9rem;
    text-transform: none;
  }
  .select-main-div{
    margin: 15pt 35pt;
  }
  .select {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    padding: 12pt;
    width: 100%;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  select{
    display :inline-block;
    width :100%;
    cursor :pointer;
  }
  .select__arrow{
    position :absolute;
    right :15pt;
  }
  .fill-text{
    margin-left: 35pt;
    font-size: 1.3rem;
    margin-top: 20pt;
  }
}
