page-aboutcompany {
    .watermelon_img {
        height: 50%;
    }

    p.para_1 {
        line-height: 2;
        margin-top: 5%;
        font-size: 12px;
    }

    p.para_2 {
        line-height: 2;
        margin-top: 5%;
        font-size: 12px;
    }
    p.para_3 {
        line-height: 2;
        margin-top: 5%;
        font-size: 12px;
    }
}
