<ion-header>
  <ion-navbar style="padding: 3pt">
  </ion-navbar>
</ion-header>
<ion-content>
    <div class="container">
      <div class="title_menu">
        <h1>Forget Password?</h1>
      </div>
    </div>
    <form [formGroup]="forgetForm" padding>
      <ion-list>
        <ion-item>
          <ion-label class="text-grey" style="font-size: 1.2rem" floating>Email Address</ion-label>
          <ion-input formControlName="email" class="text-grey" class="passwordicon" type="email"></ion-input>
        </ion-item>
        <div class="error-messages">
          <ng-container *ngFor="let error of error_messages.email">
            <div class="error-message" *ngIf="forgetForm.get('email').hasError(error.type) && 
            (forgetForm.get('email').dirty || forgetForm.get('email').touched)">
              {{ error.message }}
            </div>
          </ng-container>
        </div>
        <span *ngIf="otp_manage">
          <ion-item>
            <ion-label class="text-grey" style="font-size: 1.2rem" floating>OTP</ion-label>
            <ion-input formControlName="otp" class="text-grey emailicon" type="number" name="otp"></ion-input>
          </ion-item>
          <!-- <div class="error-messages">
            <ng-container *ngFor="let error of error_messages.otp">
              <div class="error-message"
                *ngIf="forgetForm.get('otp').hasError(error.type) && (forgetForm.get('otp').dirty || forgetForm.get('otp').touched)">
                {{ error.message }}
              </div>
            </ng-container>
          </div> -->
        </span>
        <span *ngIf="send_otp">
          <div padding>
            <button class="signup-btn" ion-button block (click)="sendotp()" [disabled]="forgetForm.invalid">Send otp</button>
          </div>
        </span>
        <span *ngIf="otp_manage">
        <div padding>
          <button class="signup-btn" ion-button block (click)="submit()">submit</button>
        </div>
        </span>
      </ion-list>
    </form>
    <img class="set-header-icon" src="../../assets/img/MaskGroup13.png">
  </ion-content>

